* {
    margin: 0;
    padding: 0;
}

.fititle {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: #646cff;
    text-align: left;
}

.fiinp {
    height: 2rem;
    border: none;
    color: #646cff;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.fialert {
    color: brown;
    margin: 0;
    padding: 0;
}

.fibtn {
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 0.5rem;
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;

    &:disabled {
        cursor: not-allowed;
        color: brown;
        transform: rotate(45deg);
        border-color: brown;
        &:hover {
            border-color: brown;
        }
    }
}
