:root {
    --theme0: #a71b1c;
    --theme1: #831d1e;
    --theme2: #6d1112;
    --bg0: #1e0404;
    --bg1: #2c0505;
    --bg2: #360808;
    --text0: #faefef;
    --text1: #d8cfcf;
    --text2: #a19999;
    --text3: #7d7676;
    --coot: transparent;
}

* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/* ConfirmModal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalWrapper {
    max-height: 600px;
    overflow-y: scroll;
    border: var(--bg0) 1px solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalHeader {
    padding: 8px 8px 0;
    border-radius: 12px 12px 0 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modalBody {
    padding: 8px;
}

.modalFooter {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8px;
}

.modalBtn {
    margin: 8px;
    font-weight: 400;
    border-radius: 12px;
}

/* uploadModal */

.uploadModalContainer {
    width: 400px;
    padding: 0 16px;
}

/* todo 不能這樣做placeholder */
.uploadModalPreImage {
    background: no-repeat center/100% url("../assets/imagePlaceholder.svg");
    height: 80px;
    width: 120px;
    border: none;
}

.uploadModalRow {
    justify-content: space-between;
    margin: 16px 0;
}

.uploadModalRow label {
    width: 80px;
}

/* Bookmark */
.bookmark {
    color: var(--theme0);
}

/* CustomInput */
.customInputRow {
    width: 100%;
    align-items: end;
    margin: 8px 0;
}

.customInputCount {
    color: var(--text2);
    margin-left: 8px;
    font-size: 12px;
}

/* CustomIconBtn */
.CustomIconBtnLabel {
    margin-left: -8px;
    color: var(--text3);
}

/* CustomPreviewPro */
.CustomPreviewProImage {
}
